body {
  font-family: sans;
}

h1, h2, h3 {
  font-weight: normal;
  font-family: serif;
  margin-bottom: 8px;
}

h2 {
  margin-left: 10px;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px dashed black;
  margin-right: 4px;

  &:hover {
    border-bottom: solid;
  }
}

.ui-widget a {
  border-bottom: none;
  margin-right: 0px;
}

form .field {
  label {
    float: left;
  }
  input {
    padding: 0;
    margin: 2px;
  }
}

.error {
  color: red;
}

.errors {
  border: 2px solid red;
  padding: 2px;
}

.invalid {
  border: 2px solid red;
}

#yield {
  position: absolute;
  top: 50px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  overflow: auto;
}

.logout {
  background-color: #ff9b91;
}

#bar {
  display: block;
  background-color: #eeeeee;
  padding: 8px;

  .date {
    float: left;
    font-weight: bold;
  }

  .sync-status {
    float: left;
    margin-left: 20px;
    font-style: italic;

    &.desync {
      font-style: normal;
      background-color: #ffff8c;
    }
  }

  nav {
    text-align: right;
    display: block;
  }
}

#menu a {
  margin: 0px 5px 0px;
}

.submenu {
  margin: 10px 10px 20px 20px;
}

.options {
  margin: 10px;
}

#popup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(100,100,100,.3);
  z-index: 50;

  .close-button {
    float: right;
    top: 5px;
    right: 5px;

    color: gray;

    &:hover {
      color: black;
    }
  }

  .window {
    background: white;
    opacity: 1;

    border: 1px solid #888888;
    margin: 100px auto;
    width: 500px;
    padding: 10px 15px 10px 10px;

    h1 {
      margin: 0 0 10px 0;
    }

    form {
      margin: 10px;

      .field {
        label {
          width: 200px;
        }
        input[type="text"], input[type="password"] {
          width: 250px;
        }
      }

      textarea {
        width: 100%;
        height: 200px;
      }
    }

    div.text-info {
      margin: 10px;
    }
  }
}

.prio-1 { background-color: hsl(240deg,100%,80%) }
.prio-2 { background-color: hsl(240deg,100%,90%) }
.prio-3 {  }
.prio-4 { background-color: hsl(0deg,100%,90%) }
.prio-5 { background-color: hsl(0deg,100%,80%) }

#priority-bar {
  float: right;

  div {
    display: inline-block;
    border: 1px solid gray;
    height: 15px;
  }

  span {
    display: inline-block;
    width: 30px;
    height: 100%;
  }
}

.filter {
  .filter-active {
    border-bottom: solid;
  }
}

.action {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.list {
  margin: 0px 0px 10px 5px;

  .header {
    background-color: #f0f0f0;

    span:not(.action) {
      padding-left: 14px;
      margin-right: -14px;
      background: no-repeat url(images/sort_none.png);
      background-position-y: center;

      cursor: pointer;
    }

    span.sorted {
      background-image: url(images/sort_down.png);
      &.reversed {
        background-image: url(images/sort_up.png);
      }
    }
  }

  &>* {
    padding: 2px;
    border-bottom: 1px solid gray;
  }
}

.task-list {
  .complete {
    background: repeat url(images/stroke.png);

    .status { background: no-repeat url(images/tick.png); }
  }

  .incomplete {
    .status { background: no-repeat url(images/tick_gray.png); }
  }

  .complete, .incomplete {
    .edit   { background: no-repeat url(images/edit.png); }
    .delete { background: no-repeat url(images/destroy.png); }
    .show   { background: no-repeat url(images/show.png);
    }
  }

  .deleted {
    .status, .edit {
      visibility: hidden;
    }
    .delete {
      background: no-repeat url(images/undo.png);
    }
  }

  .task {
    .date, .category {
      display: inline-block;
    }

    .date     { width: 10em; }
    .category { width: 10em; }
    .brief    { color: gray; }
    .location { font-style: italic; }
  }

  &:not(.filter-all):not(.filter-done) > .complete,
    &.filter-done > .incomplete,
    &.filter-deleted > .task:not(.header):not(.deleted),
    &:not(.filter-deleted) > .deleted,
    &:not(.filter-all):not(.filter-repeat):not(.filter-deleted) > .repeat:not(.missed),
    &.filter-repeat > .task:not(.header):not(.repeat) {
    display: none;
  }
}

.missed {
  color: red;
}

.task-details {
  padding: 10px;
  margin-bottom: 10px;
  white-space: pre-wrap;

  .name {
    font-weight: bold;
  }
}

.category-list {
  div:not(.header) {
    .edit    { background: no-repeat url(images/edit.png); }
    .destroy { background: no-repeat url(images/destroy.png); }
  }

  .category {
    .name {
      display: inline-block;
      width: 10em;
    }
  }
}

$day_width: 120px;

.calendar {
  text-align: center;

  .week {
    max-width: ($day_width+10px)*7;
    margin: 0px auto 0px auto;
  }

  .day {
    float: left;
    width: $day_width;
    border: 1px solid gray;
    background-color: lighten(gray, 45%);
    margin: 2px;
    padding: 2px;
    
    .window {
      height: 100px;
      overflow: auto;
    }

    &.other {
      opacity: .3;
    }
    &.today {
      background-color: #ffffcc;
    }
  }
  
  .number, .task {
    display: block;
  }
  .task {
    border: 1px solid darken(gray, 20%);
    &.prio-3 {
      background-color: lighten(gray, 40%);
    }
    white-space: pre;
    overflow: hidden;
    margin-bottom: 2px;
    
    .show { background: no-repeat url(images/show.png); }
  }
}
