<h1>Not synchronized</h1>

<div class="text-info">You are trying to log out (i.e. wipe all local data) while not being
synchronized to server. Do you really want to?</div>

<nav class="options">
  <a href="#" data-bind="sync#sync_then_logout">Synchronize with server</a>
  <a href="#" data-bind="sync#logout" class="logout">Logout and lose local changes</a>
</nav>
