<h1>Sync Error</h1>

<div class="text-info">While attempting to synchronize, the following error was encountered:
<span class="error">{{error}}</span>.</div>

<a href="#" data-bind="sync#start">Try Again</a>
