<h1>Authentication</h1>

<form data-bind="sync#auth">
  <div class="field"><label for="login">Login</label><input type="text" id="login" data-attribute="login"></div>
  <div class="field"><label for="password">Password</label><input type="password" id="password" data-attribute="password"></div>
  <div class="field"><label for="remember">Remember credentials</label><input type="checkbox" id="remember" data-attribute="remember"></div>
  <input type="submit" value="Go">
</form>
