<h1>Settings</h1>

<h2>Pre-defined categories</h2>

<div class="list category-list">
  <div class="header category">
    <span class="action"></span>
    <span class="action"></span>
    <span class="name">Category</span>
    <span class="options">Options</span>
  </div>
  {{^categories}}No categories.{{/categories}}
  {{#categories}}
    {{> _category}}
  {{/categories}}
</div>

<nav class="options"><a href="#category/new">New category</a></nav>

<h2>Synchronization</h2>

<nav class="options">
  <a href="#" data-bind="sync#resync">Repopulate server</a> using locally stored data<br>
</nav>