<div class="errors" style="display:none"></div>
<label for="task-description">Description</label><div id="priority-bar">Priority <div><span class="prio-1"></span><span class="prio-2"></span><span class="prio-3"></span><span class="prio-4"></span><span class="prio-5"></span></div><input id="task-priority" data-attribute="priority" type="hidden" value="{{priority}}"></div><br/>
<textarea id="task-description" data-attribute="description" class="prio-{{priority}}">{{description}}</textarea>
<div class="field"><label for="task-category">Category</label><input id="task-category" data-attribute="category" type="text" value="{{category}}"></div>
<div class="field"><label for="task-date">Date</label><input id="task-date" data-attribute="date" class="date" value="{{date}}"></div>
<div class="field"><label for="task-time">Time</label><input id="task-time" data-attribute="time" type="time" value="{{time}}"></div>
<div class="field"><label for="task-location">Location</label><input id="task-location" data-attribute="location" type="text" value="{{location}}"></div>
<div class="field"><label for="task-repeat">Repeat</label>
<select id="task-repeat" data-attribute="repeat" data-value="{{repeat}}">
<option label="Not repeating"></option>
<option label="Each week">week</option>
<option label="Each month">month</option>
<option label="Each year">year</option>
</select></div>
