<div class="task {{status}} prio-{{priority}}">
  <span class="status action" data-id="{{id}}" data-bind="tasks#toggle_complete"></span>
  <span class="edit action" data-id="{{id}}" data-bind="tasks#edit"></span>
  <span class="delete action" data-id="{{id}}" data-bind="tasks#toggle_delete"></span>
  <span class="date">{{date}} {{time}}</span>
  <span class="category">{{category}}</span>
  <span class="show action" data-id="{{id}}" data-bind="tasks#show"></span>
  <span class="name">{{name}}</span>
  {{#location}}<span class="location">(at {{location}})</span> {{/location}}
  <span class="brief">{{brief_short}}</span>
</div>
