<div class="task header">
  <span class="status action"></span>
  <span class="edit action"></span>
  <span class="delete action"></span>
  <span class="date sort-date sort-initial">Date</span>
  <span class="category">Category</span>
  <span class="show action"></span>
  <span>Description</span>
</div>

