<h1>Dashboard</h1>

{{?missed_tasks}}
<h2 class="missed">Missed tasks</h2>
<div class="task-list list filter-all">
{{> _task_header}}
{{#missed_tasks}}
  {{> _task}}
{{/missed_tasks}}
</div>
{{/?missed_tasks}}

<h2>Today tasks</h2>
<div class="task-list list filter-all">
{{> _task_header}}
{{#today_tasks}}
  {{> _task}}
{{/today_tasks}}
{{^today_tasks}}
No tasks.
{{/today_tasks}}
</div>

{{?tomorrow_tasks}}
<h2>Tomorrow tasks</h2>
<div class="task-list list filter-all">
{{> _task_header}}
{{#tomorrow_tasks}}
  {{> _task}}
{{/tomorrow_tasks}}
</div>
{{/?tomorrow_tasks}}

{{?week_tasks}}
<h2>Next week tasks</h2>
<div class="task-list list filter-all">
{{> _task_header}}
{{#week_tasks}}
  {{> _task}}
{{/week_tasks}}
</div>
{{/?week_tasks}}
