<h1>Task list</h1>

<nav class="submenu filter" id="task-list-filter">
  <a href="#" data-filter="all">All</a>
  <a href="#" data-filter="done">Done</a>
  <a href="#" data-filter="">Pending</a>
  <a href="#" data-filter="repeat">Repeating</a>
  <a href="#" data-filter="deleted">Deleted</a>
</nav>

<div class="task-list list" id="task-list">
{{> _task_header}}
{{#tasks}}
  {{> _task}}
{{/tasks}}
</div>
