<h1>Task details</h1>

<div class="task-details prio-{{priority}}"><span class="name">{{name}}</span>
{{brief}}</div>
{{?category}}Category: {{category}}<br/>{{/?category}}
Due: {{date}} {{time}}<br/>
{{?location}}Location: {{location}}<br/>{{/?location}}
<br/>
<a href="#" data-id="{{id}}" data-bind="tasks#edit">Edit</a>