<div class="category">
  <span class="edit action" data-id="{{id}}" data-bind="categories#edit"></span>
  <span class="destroy action" data-id="{{id}}" data-bind="categories#destroy"></span>
  <span class="name">{{name}}</span>
  <span class="options">{{options_text}}</span>
</div>
