<div class="errors" style="display:none"></div>
<div class="field"><label for="category-name">Name</label>
<input id="category-name" data-attribute="name" type="text" value="{{name}}"></div>
<div class="field"><label for="category-dow">Day of week</label>
<select id="category-dow" data-attribute="day_of_week" data-value="{{day_of_week}}">
<option label="Not recurring">0</option>
<option label="Monday">1</option>
<option label="Tuesday">2</option>
<option label="Wednesday">3</option>
<option label="Thursday">4</option>
<option label="Friday">5</option>
<option label="Saturday">6</option>
<option label="Sunday">7</option>
</select></div>
